* {
  margin: 0;
  padding: 0;
  border: black solid 1px; }

body {
  font-family: "Roboto", sans-serif;
  color: white; }

header {
  background-image: linear-gradient(to right, #641B1D, #501517); }

nav, footer {
  background-color: #1A1A1A; }

.title {
  background-color: #DDDDDD; }

#content {
  width: 95%;
  margin: auto; }

#logbar {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #logbar #logo {
    width: 23%;
    margin: 4% 2.5%; }
    #logbar #logo img {
      width: 100%; }
  #logbar #logoBanner {
    width: 60%;
    margin: 2%; }
    #logbar #logoBanner img {
      width: 100%; }

nav {
  padding: 0.5% 1%; }
  nav li {
    display: inline;
    margin: 0 1%; }
    nav li a {
      text-decoration: none;
      font-size: 2em;
      color: white; }

#date {
  color: black;
  font-size: 1.5em;
  font-weight: 300;
  text-align: right;
  padding: 1% 0; }

.title {
  color: black;
  font-size: 2em;
  padding: 0.5% 1%;
  margin-bottom: 1.5%; }

.columns {
  display: flex;
  justify-content: space-between; }
  .columns .leftColumn {
    width: 86.75%; }
    .columns .leftColumn #topNews {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .columns .leftColumn #topNews .link a img {
        width: 100%; }
      .columns .leftColumn #topNews .link .caption {
        position: relative;
        margin-top: -20%;
        width: 100%;
        height: 30%;
        background-color: #171717; }
        .columns .leftColumn #topNews .link .caption p {
          padding: 5px 10px;
          text-align: justify; }
    .columns .leftColumn .title {
      margin-top: 3%; }

#popular {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  #popular .link a img {
    width: 100%; }
  #popular .link .caption {
    position: relative;
    margin-top: -20%;
    width: 100%;
    height: 30%;
    background-color: #171717; }
  #popular .link .ofNonStandartImage {
    margin-top: -9%; }
    #popular .link .ofNonStandartImage p {
      padding: 5px 10px;
      text-align: justify; }

.rightColumn {
  width: 11.81%; }
  .rightColumn a img {
    width: 100%;
    height: auto; }

a #banner2 {
  width: 92%;
  padding: 2% 0;
  margin: auto; }

#remainingImages {
  display: flex;
  flex-wrap: wrap; }
  #remainingImages .link {
    width: 45%;
    margin: 4% 2%; }
    #remainingImages .link a img {
      width: 100%; }
    #remainingImages .link .caption {
      position: relative;
      margin-top: -18%;
      width: 100%;
      height: 30%;
      background-color: #171717; }
      #remainingImages .link .caption p {
        padding: 5px 10px;
        text-align: justify; }
    #remainingImages .link .ofNonStandartImage2 {
      margin-top: -14%; }
    #remainingImages .link .ofNonStandartImage3 {
      margin-top: -19%; }
    #remainingImages .link .ofNonStandartImage4 {
      margin-top: -18.5%; }

#biggerImages {
  padding-bottom: 7%; }

a #banner3 {
  height: 97.25%; }

footer ul li a {
  font-size: 1.5em; }
footer a img {
  float: right;
  width: 25%;
  margin: 5% 2%; }
footer #copyright {
  clear: right;
  text-align: center;
  font-size: 1.4em;
  padding: 1%; }

@media only screen and (max-width: 767px) {
  .bannerPhone {
    display: inline; }

  .bannerLaptopAndTablet, #banner2 {
    display: none; }

  .link {
    width: 48%;
    margin-top: 30px; }

  .bannerPhone {
    width: 48%;
    margin-top: 30px; }
    .bannerPhone img {
      width: 100%; }

  .caption p {
    font-size: 1em; } }
@media only screen and (min-width: 768px) {
  #banner2 {
    display: block; }

  .bannerPhone {
    display: none; }

  .link {
    width: 31%; }

  #remainingImages .link .caption p {
    font-size: 1.5em; } }
@media only screen and (max-width: 600px) {
  .link {
    width: 100%;
    margin-top: 60px; }

  .caption {
    margin-top: 0%; } }

/*# sourceMappingURL=style.css.map */
